body {
	background-color: #0f0f0f;
	color: aliceblue;
}

canvas {
	width: 100%;
	max-width: 910px;
	max-height: 512px;
}

.gallery img {
	width: 32%;
	max-width: 320px;
}

input {
	max-width: 100px;
}