@media screen and (min-width: 900px) {
	header #branding {
		float: left;
	}

	header nav{
		float: right;
	}

	header li {
		display: inline;
	}

	#showcase img {
		float: left;
	}
}

@media screen and (min-width: 1200px) {
	#boxes .box {
		float: left;
		width: 30%;
	}

	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid-container-item {
		grid-column: auto;
	}
}