.background {
	color: blanchedalmond;
	background-color: #1e1a1a;
}

.header {
	vertical-align: middle;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}